node_modules/
dist/
build/
.env
.DS_Store
*.log
coverage/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp   
*.bak
*.tmp
package-lock.json
yarn.lock   
*.iml
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.7z
*.exe
*.dll
*.so
*.dylib